.header-container {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-link {
  text-decoration: none;
  color: #25c9e6;
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-link {
  position: relative;
  margin-left: 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding-bottom: 2px;
}

.nav-link:hover::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: #333;
}

.header-link h2 {
  margin: 0;
  font-size: 1.5rem;
}

.active-link {
  position: relative;
}

.active-link::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: #333;
}
